@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Gothic Coding", monospace;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 100vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  /* padding-left: 20px;
  padding-right: 20px; */
  text-align: center;
}

/* Home */

.Home .side {
  display: flex;
  justify-content: space-between;
}

.Home p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-family: "Yeon Sung";
  font-weight: 400;
  line-height: 2.5;
}

/* MARR_TYPE */

.Home .marr_type {
  background-color: #ececec;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.Home .marr_type .type {
  text-align: left;
}

.Home .marr_type .type .flavor {
  display: flex;
  justify-content: right;
}

/* My Button  */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Gothic Coding", monospace;
}

.MyButton_default {
  background-color: white;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* MyHeader */
header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  justify-content: center;

  font-size: 25px;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

/* MainHeader */
header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  align-items: center;
}

header .head-logo {
  padding: 20px;
  font-size: 30px;
  font-style: bold;
  cursor: pointer;
}

header > ul {
  list-style: none;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
}

header > ul > li {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

header img {
  padding: 10px;
  cursor: pointer;
}

/* ReviewList */
.ReviewList {
  background-color: #f3f3f3;
}

.ReviewList .ReviewBack {
  border-radius: 10px; /* 박스 모서리를 둥글게 만들 수 있습니다. */
  padding-left: 550px; /* 적절한 안쪽 여백을 지정하세요. */
  padding-right: 550px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가할 수 있습니다. */
}

.ReviewList .ReviewBack > * {
  background-color: #ffffff; /* 패딩 안쪽 컬러를 흰색으로 유지합니다. */
}
.ReviewList .first_col {
  display: flex;

  justify-content: center;
}

.ReviewList .first_col .left_col {
  margin-top: 10px;
  width: 550px;
  background-color: #ffffff;
  display: flex;
  font-size: small;
  font-family: "Nanum Gothic Coding", monospace;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ReviewList .ControlMenu {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Nanum Gothic Coding", monospace;
  text-align: center;
}

.ReviewList .second_col {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

/* ReviewItem */
.ReviewItem {
  margin: 0 auto;
  width: 550px;
  height: 500px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ReviewItem .user_marrpic {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.ReviewItem .user_info {
  white-space: nowrap;
  padding-top: 40px;
  font-size: 1.7ch;
}

.ReviewItem .store_btn {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  align-items: end;
}

.ReviewItem .store {
  font-size: 1.5ch;
}
.ReviewItem .btn {
  display: flex;
  gap: 3px;
}
.ReviewItem .MyButton {
  width: 50px; /* 원하는 너비 설정 */
  height: 20px; /* 원하는 높이 설정 */

  /* 기타 스타일 속성 (예: 폰트 크기, 패딩 등) */
  font-size: 1.5ch;
  padding: 5px 10px;
}
.ReviewItem .marr_pic {
  cursor: pointer;
  min-width: 400px;
  height: 250px;
  display: flex;
  overflow: hidden;
  padding-top: 5px;
}
.ReviewItem .profile_pic {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ReviewItem .profile_pic img {
  width: 100%; /* 이미지가 부모 요소에 가득 차도록 설정합니다 */
  height: auto; /* 이미지의 세로 비율을 유지하도록 설정합니다 */
}

.ReviewItem .marr_pic img {
  width: 100%; /* 이미지가 부모 요소에 가득 차도록 설정합니다 */
  height: auto; /* 이미지의 세로 비율을 유지하도록 설정합니다 */
}
.content {
  white-space: nowrap;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 120px;
  text-align: left;
  font-size: 1.7ch;
}
.ReviewItem .store_date {
  white-space: nowrap;
  text-align: right;
  font-size: 1.2ch;
}
/* ReviewEditor */
.ReviewEditor {
}

.ReviewEditor section {
  margin-bottom: 40px;
}

.ReviewEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.ReviewEditor .input_score {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.ReviewEditor textarea {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
}

.ReviewEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SearchBar */
.SearchBar {
  padding: 10px;
}

.SearchBar .search-wrapper {
  background-color: #ececec;
  border-radius: 30px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.SearchBar .search-wrapper .input-search {
  padding-left: 25px;
  min-width: 550px;
  min-height: 50px;

  border: none;
  border-radius: 30px;
  background-color: #ececec;
  outline: none;

  font-size: 18px;
}

.SearchBar .search-wrapper .btn-search {
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.SearchBar .search-wrapper .btn-search > img {
  height: 27px;
  width: auto;
}

/* Map */
.Map {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* CardSection */
.CardSection {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.CardSection .card-section-wrapper {
  display: inline-block;
  border-radius: 50px;
  background-color: #ececec;
}

.CardSection .card-section-wrapper .card-section-title {
  margin: 0px;
}

.CardSection .card-section-wrapper .card-section-title > h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 25px;
}

.CardSection .card-section-wrapper .card-section-title > span {
  color: #616161;
}

.CardSection .card-section-wrapper .card-section-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  height: 283px;
  width: 700px;
}

.CardSection .card-section-wrapper .card-section-slide > ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.CardSection .card-section-wrapper .card-section-slide > ul > div > li {
  padding: 5px;
  margin: 5px;
}

.CardSection .card-section-wrapper .card-section-slide > ul > div > li > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.CardSection .card-section-wrapper .card-section-slide > ul > div > li > p {
  font-style: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.CardSection .card-section-wrapper .card-section-slide > button {
  font-style: bold;
  font-size: 25px;
  pointer-events: none;
}

/* SearchList */
.SearchList {
  display: flex;
  justify-content: center;
}

.SearchList .search-list-wrapper {
}

.SearchList .search-list-wrapper .search-list {
  list-style: none;
  padding-inline-start: 0px;
  margin-left: 20px;
  margin-right: 20px;

  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.SearchList .search-list-wrapper .search-list .SearchItem {
}

.SearchList .search-list-wrapper .search-list .SearchItem > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;

  cursor: pointer;
}

.SearchList .search-list-wrapper .search-list .SearchItem > li > img {
  height: 250px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.SearchList
  .search-list-wrapper
  .search-list
  .SearchItem
  > li
  > .restaurant-name {
  margin-top: 5px;
  font-size: 20px;
}

.SearchList
  .search-list-wrapper
  .search-list
  .SearchItem
  > li
  > .restaurant-rating {
  color: #bf4e8c;
}

/* userinfo */
.userinfo {
  /* padding : 100px; */
  /* align-items: center; */

  background-color: #ececec;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;
  padding-bottom: 100px;

  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 20px;

  justify-content: center;
  padding: 10px;
}

.userinfo h3 {
  display: flex;
  padding-right: 400px;
  font-size: 22px;
  font-weight: bold;
}

/* kakao login */

.kakao {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  float: left;
  width: 40%;
}

/* login */
.login {
}

/* google button */
.Google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.SearchList
  .search-list-wrapper
  .search-list
  .SearchItem
  > li
  > .restaurant-rating {
  color: #bf4e8c;
}

/* ScoreItem */
.ScoreItem {
  cursor: pointer;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ScoreItem img {
  width: 50%;
  margin-bottom: 10px;
}

.ScoreItem span {
  font-size: 14px;
  text-align: center;
}

.ScoreItem_off {
  background-color: #ececec;
}

.ScoreItem_on_1 {
  background-color: #fd565f;
  color: white;
}

.ScoreItem_on_2 {
  background-color: #fd8446;
  color: white;
}

.ScoreItem_on_3 {
  background-color: #fdce17;
  color: white;
}

.ScoreItem_on_4 {
  background-color: #9dd772;
  color: white;
}

.ScoreItem_on_5 {
  background-color: #64c964;
  color: white;
}

/* StoreList */
.StoreList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.StoreList .ControlMenu {
  padding: 10px 10px 10px 10px;
}

.StoreList .grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.StoreList .no-item-img {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.StoreList .empty-message-big {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.StoreList .empty-message-small {
  display: flex;
  justify-content: center;
  color: #a2a2a2;
  font-size: 14px;
}

/* StoreItem */
.StoreItem {
  padding-top: 15px;
  padding-bottom: 15px;
}

.StoreItem .img_wrapper {
  cursor: pointer;
  min-width: 80px;
  height: 160px;
  border-radius: 5px;
}

.StoreItem .store_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.StoreItem .store_name {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.StoreItem .store_added_date {
  font-size: 16px;
  color: gray;
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 20px;
}

.likebtn {
  padding-top: 10px;
  background-color: white;
  border: None;
}
